In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('kidney_disease.csv')

In [3]:
df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [6]:
df = df.drop(['id', 'age'], axis=1)

In [7]:
df.sample()

,bp,sg,al,su,rbc,pc,pcc,ba,bgr,bu,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
207,70.0,1.01,0.0,0.0,NaN,normal,notpresent,notpresent,230.0,50.0,...,41,10400,4.6,yes,yes,no,good,no,no,ckd

In [8]:
df.head()

,bp,sg,al,su,rbc,pc,pcc,ba,bgr,bu,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,36.0,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,18.0,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,53.0,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,56.0,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,26.0,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   bp              388 non-null    float64
 1   sg              353 non-null    float64
 2   al              354 non-null    float64
 3   su              351 non-null    float64
 4   rbc             248 non-null    object
 5   pc              335 non-null    object
 6   pcc             396 non-null    object
 7   ba              396 non-null    object
 8   bgr             356 non-null    float64
 9   bu              381 non-null    float64
 10  sc              383 non-null    float64
 11  sod             313 non-null    float64
 12  pot             312 non-null    float64
 13  hemo            348 non-null    float64
 14  pcv             330 non-null    object
 15  wc              295 non-null    object
 16  rc              270 non-null    object
 17  htn             398 non-null    object
 18  dm              398 non-null    object
 19  cad             398 non-null    object
 20  appet           399 non-null    object
 21  pe              399 non-null    object
 22  ane             399 non-null    object
 23  classification  400 non-null    object
dtypes: float64(10), object(14)
memory usage: 75.1+ KB

In [16]:
numerical = []
catgoals = []

for col in df.columns:
    if df[col].dtype == 'float64':
        numerical.append(col)
    else:
        catgoals.append(col)

for col in df.columns:
    if col in numerical:
        df.fillna({col: df[col].median()}, inplace=True)
    else:
        df.fillna({col:df[col].mode()[0]}, inplace=True)

In [12]:
numerical

['bp', 'sg', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hemo']

In [13]:
catgoals

['rbc',
 'pc',
 'pcc',
 'ba',
 'pcv',
 'wc',
 'rc',
 'htn',
 'dm',
 'cad',
 'appet',
 'pe',
 'ane',
 'classification']

In [14]:
df.sample()

,bp,sg,al,su,rbc,pc,pcc,ba,bgr,bu,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
338,80.0,1.02,0.0,0.0,normal,normal,notpresent,notpresent,132.0,34.0,...,44,4700,4.5,no,no,no,good,no,no,notckd

In [17]:
df['classification'].value_counts()

classification
ckd       248
notckd    150
ckd\t       2
Name: count, dtype: int64

In [18]:
df['classification'] = df['classification'].replace(['ckd\t'], ['ckd'])

In [19]:
df['classification'].value_counts()

classification
ckd       250
notckd    150
Name: count, dtype: int64

In [20]:
ind_col = [col for col in df.columns if col != 'classification']
dep_col = 'classification'

In [21]:
print(ind_col)

['bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad', 'appet', 'pe', 'ane']

In [23]:
df[dep_col].value_counts()

classification
ckd       250
notckd    150
Name: count, dtype: int64

In [24]:
df[ind_col].value_counts()

bp     sg    al   su   rbc       pc        pcc         ba          bgr    bu     sc    sod    pot  hemo  pcv  wc     rc   htn  dm   cad  appet  pe   ane
50.0   1.01  0.0  0.0  normal    normal    notpresent  notpresent  121.0  25.0   0.6   138.0  4.4  11.8  36   12400  5.2  no   no   no   good   no   no     1
80.0   1.02  0.0  0.0  normal    normal    notpresent  notpresent  131.0  23.0   0.8   140.0  4.1  11.3  35   9800   5.2  no   no   no   good   no   no     1
                                                                   219.0  176.0  13.8  136.0  4.5  8.6   24   13200  2.7  yes  no   no   good   yes  yes    1
                                                                   158.0  85.0   3.2   141.0  3.5  10.1  30   9800   5.2  yes  no   no   good   yes  no     1
                                                                   140.0  49.0   0.5   150.0  4.9  15.7  47   6700   4.9  no   no   no   good   no   no     1
                                                                                                                                                           ..
70.0   1.02  0.0  0.0  normal    normal    notpresent  notpresent  83.0   42.0   1.2   139.0  3.7  16.2  50   9300   5.4  no   no   no   good   no   no     1
                                                                   81.0   18.0   0.8   145.0  5.0  14.7  44   9800   6.0  no   no   no   good   no   no     1
                                                                   76.0   28.0   0.6   146.0  3.5  14.8  52   8400   5.9  no   no   no   good   no   no     1
                       abnormal  normal    notpresent  notpresent  139.0  19.0   0.9   138.0  4.4  12.7  42   2200   5.2  no   no   no   poor   no   no     1
180.0  1.02  0.0  4.0  normal    abnormal  notpresent  notpresent  298.0  24.0   1.2   139.0  3.9  11.2  32   10400  4.2  yes  yes  no   poor   yes  no     1
Name: count, Length: 400, dtype: int64

In [26]:
from sklearn.preprocessing import  LabelEncoder

le = LabelEncoder()

In [28]:
for col in df[catgoals]:
    df[col] = le.fit_transform(df[col])

In [29]:
df['classification'] = le.fit_transform(df['classification'])

In [30]:
x = df[ind_col]
y = df[dep_col]

In [31]:
df.sample()

,bp,sg,al,su,rbc,pc,pcc,ba,bgr,bu,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
258,80.0,1.02,0.0,0.0,1,1,0,0,98.0,20.0,...,32,78,37,0,3,1,0,0,0,1

In [32]:
df.to_csv('fixed_data.csv', index=False)